.container-home {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-container-home {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .btn-container-home {
        max-width: 144px;
    }
}

@media (min-width: 768px) {
    .btn-container-home {
        max-width: 192px;
    }
}

@media (min-width: 992px) {
    .btn-container-home {
        max-width: 248px;
    }
}

@media (min-width: 1200px) {
    .btn-container-home {
        max-width: 300px;
    }
}

@media (min-width: 1400px) {
    .btn-container-home {
        max-width: 350px;
    }
}